.Modal {
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 50% 125%,
      #6fc104 10%,
      #fffb00 25%,
      #d92e7f 58%,
      #9b36b7 76%,
      #005399
    );
    transition: 0.6s;
}