.emptyContainer {
    justify-content: center;
    align-items: center;
    margin: 80px 0px;
}

.emptyTodo {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Sora';
}