form {
    width: 60%;
    min-width: 260px;
    max-width: 320px;
    background-color: #ffffff;
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #000000;
    border-radius: 8px;
    transition: 0.2s;
    box-shadow: 30px 30px 0px #000000;
}

label {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #1e1e1f;
    margin-bottom: 26px;
    font-family: 'Sora';
}

textarea {
    background-color: #f9fbfc;
    border: 2px solid #000000;
    border-radius: 8px;
    /*box-shadow: 0 5px 50px rgba(32, 35, 41, .25);*/
    color: #1e1e1f;
    font-size: 18px;
    font-family: 'Sora';
    text-align: center;
    padding: 12px;
    height: 96px;
    max-width: calc(100% - 24px);
    min-width: calc(100% - 24px);
}

textarea::placeholder {
    color: #a5a5a5;
    font-family: 'Sora';
    font-weight: 400
}

textarea:focus {
    outline-color: #000000
}

.TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    color: #202329;
    font-family: 'Sora';
    font-weight: 400;
    width: 120px;
    height: 48px;
    border: 2px solid #000000;
    border-radius: 8px;
    transition: 0.2s;
}

.TodoForm-button:hover {
    margin-top: -6px;
    color: #ffffff;
    font-weight: 600;
}

.TodoForm-button--add {
    background: #61dafa;
    /*box-shadow: 0 5px 25px rgba(97, 218, 250, .5)*/
}

.TodoForm-button--add:hover {
    margin-top: -6px;
    background: #61dafa;
    box-shadow: 10px 10px 0px #002935;
}

.disabled {
    color: #6b6b6b;
    background: #255461;
}

.disabled:hover {
    color: #6b6b6b;
    margin-top: 0;
    background: #255461;
    box-shadow: 0px 0px 0px;
}

.TodoForm-button--cancel {
    background: #ff8684;
}

.TodoForm-button--cancel:hover {
    box-shadow: 10px 10px 0px #bb0300;
}