.CreateTodoButton {
    background-color: #61dafa;
    border-radius: 8px;
    border: 2px solid #000000;
    cursor: pointer;
    font-size: 18px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-family: 'Mukta';
    font-weight: 600;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    padding: 0 18px;
    transition: .3s;
}

.CreateTodoButton:hover {
    transform: rotate(360deg)
}