body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  place-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
