.TodoSearch {
    background: #F9FBFC;
    border-radius: 8px;
    border: 2px solid #000000;
    margin: 0 24px 0 24px;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: 'Mukta';
    font-weight: 400;
    color: #000000;
    /* box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25); */
    transition: 0.2s;
}

.TodoSearch:hover {
    margin-top: -6px;
    margin-left: 18px;
    margin-right: 30px;
    margin-bottom: 24px;
    color: #000000;
    box-shadow: 10px 10px 0px #000000
}

.TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Mukta';
    font-weight: 400;
}

.TodoSearch:focus {
    outline-color: #61DAFA;
    box-shadow: 10px 10px 0px #000000
}

@supports selector(:focus-visible) {
    .TodoSearch:focus-visible {
        outline-color: #61DAFA;
    }
}

