.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
}

.Icon-check {
    position: absolute;
    left: 12px;
}

.Icon-check--active {
    color: #4caf50;
}

.Icon-delete {
    position: absolute;
    right: 0;
}

.Icon-delete:hover {
    color: red;
}

.Icon-svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.Icon-container-check:hover .Icon-svg {
    fill: green;
}

.Icon-container-delete:hover .Icon-svg {
    fill: red;
}